.notification {
	font-size: 1.5rem;
	position: relative;
	z-index: 1;
	display: inline-block;
	line-height: 1;
	@include transition();
	text-decoration: none;
	color: $black;
	text-decoration: none;

	&:before {
		position: absolute;
		content: '';
		top: -2px;
		right: -1px;
		height: 10px;
		width: 10px;
		background: $red-100;
		border-radius: 50%;
		border: 1px solid $white;
		z-index: 2;
	}

	i {
		display: block;
		cursor: pointer;
		@include transition();
	}

	&:hover {
		text-decoration: none;
		color: $black;

		&>i {
			transform: scale(1.1);
			animation-name: hang;
			animation-timing-function: linear;
			animation-duration: 2s;
			animation-iteration-count: infinite;
		}

	}

	&--list {
		position: absolute;
		top: 50px;
		right: -43px;
		width: 280px;
		background-color: $black;
		box-shadow: 0 0 5px 5px rgba($white, .1);
		border-radius: 5px;
		overflow: hidden;
		padding-bottom: 2.3rem;
		@include transition();
		opacity: 0;
		visibility: hidden;
		border: 1px solid rgba($white, .2);

		@include media-breakpoint-up(md) {
			right: 0;
			width: 300px;
		}

		&.show {
			top: 30px;
			opacity: 1;
			visibility: visible;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			a:not(.btn) {
				font-size: 0.75rem;
				font-weight: normal;
				padding: .5rem 1rem;
				display: block;
				@include transition();
				border-bottom: 1px solid rgba($white, .2);
				line-height: 1.4;

				&:hover {
					background: rgba($white, .2);
					text-decoration: none;
					border-color: transparent;
				}
			}

			li {
				&:last-of-type {
					a {
						border-color: transparent;
					}
				}
			}
		}

		.btn {
			background-color: $blue;
			padding: .5rem;
			border: 0;
			color: $white;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 11;
			border-radius: 0;
			font-size: 13px;

			i {
				color: $white;
				animation: none;
				display: inline-block;
				margin-left: .1rem;
				transform: translateX(-20px);
				@include transition();
				opacity: 0;
				visibility: hidden;
			}

			&:hover {
				i {
					transform: translateX(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

@keyframes hang {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(15deg);
	}

	50% {
		transform: rotate(0deg);
	}

	75% {
		transform: rotate(-15deg);
	}

	100% {
		transform: rotate(0deg);
	}
}