

.cards-wrapper {
	padding: 0 0 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include media-breakpoint-up(xxl) {
		padding-right: 2rem;
	}

	.card-holder {
		width: 100%;
		margin-bottom: 1rem;

		@include media-breakpoint-up(xl) {
			max-width: 352px;
		}

		&--featured {
			.card {
				min-height: 200px;
				border-radius: 20px;
				// overflow: hidden;
				justify-content: flex-start;


				@include media-breakpoint-up(lg) {
					height: 366px;
				}

				.title {
					font-size: 1.125rem;
					margin-bottom: 1.5rem;
					color: $white;
					display: inline-block;
					line-height: 1.2;

					@include media-breakpoint-up(lg) {
						font-size: 1.875rem;
						margin-bottom: 6.3rem;

					}
				}

				.holder {
					width: 100%;

					@include media-breakpoint-up(xl) {
						max-width: 400px;
					}
				}
			}

			&:first-of-type {
				@include media-breakpoint-up(xl) {
					width: calc(100% - 373px);
					max-width: 100%;
				}
			}

			&:nth-child(2) {
				.card {
					.title {
						@include media-breakpoint-up(lg) {
							margin-bottom: 3.4rem;
						}
					}
				}
			}
		}
	}

	.card {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 1rem;
		position: relative;
		border: 0;

		@include media-breakpoint-up(xl) {
			padding: 2.5rem;
		}

		.author-meta {
			width: 100%;
		}

		.video-duration {
			position: absolute;
			bottom: 1.25rem;
			right: 1.25rem;
		}
	}

	&.card-slider {
		margin: 0 -10px;

		.card-holder {
			padding: 0 10px;
		}

		.slick {
			&-next {
				@include media-breakpoint-up(xxl) {
					right: 5px;
				}
			}
		}
	}
}