// Background Cover
%bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&>img {
		display: none;
	}
}

.bg-cover {
	@extend %bg-cover;
}

%bg-primary {
	color: $white;
	background: $primary;
}

.bg-primary {
	@extend %bg-primary;
}

img {
	max-width: 100%;
	height: auto;
}

// Fonts
%font-roboto {
    font-family: $font-roboto;
}
.font-roboto {
    @extend %font-roboto;
}

%font-open-sans {
    font-family: $font-open-sans;
}
.font-open-sans {
    @extend %font-open-sans;
}

// Visibility
.hide-sm {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

// List
ol {
	padding-left: 0.9375rem;
}

// Text
.text-transform-none {
	text-transform: none !important;
}
.text-underline {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

@for $i from 1 through 9 {
	.font-#{$i*100}{
		font-weight: $i*100;
	}
}

.rounded-ovel {
	border-radius: 100px !important;
}

.color-black {
	color: $black !important;
}

.video-duration {
	display: inline-block;
	line-height: 1;
	font-size: 10px;
	font-weight: 400;
	padding: 7px 7px 5px;
	border-radius: 7px;
	background: rgba($gray-700, .5);
	color: $white;
	letter-spacing: 1px;
}

.btn-reset-default {
	border: 0;
	padding: 0;
	background: transparent;
	box-shadow:none;
	outline: none;
}