.site-header {
    padding: 1.5rem 0;

    &>.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .site-branding {
        max-width: 112px;

        [class^="icon"] {
            font-size: 1.4rem;
            line-height: 1;
            color: $gray-800;
        }
    }

    &__right {
        width: calc();
    }
}

.user {

    &--block {
        position: relative;
        z-index: 1;
        min-width: 100px;
        max-width: 160px;
    }

    &__btn {
        width: 100%;
        position: relative;
        border: 0;
        padding: 0;
        margin: 0;
        outline: none;
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        line-height: 1;
        padding-right: 1.5rem;
        z-index: 1;

        &:focus {
            border: 0;
            outline: none;
        }

        &:before {
            position: absolute;
            content: '\e906';
            top: 55%;
            transform: translateY(-50%);
            right: 0;
            z-index: -1;
            font-family: 'icomoon' !important;
            font-size: .6rem;
        }
    }

    &__head {
        height: 32px;
        width: 32px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 0.75rem;
    }

    &__name {
        font-size: 0.8125rem;
        font-weight: 500;
    }

    &__lists {
        position: absolute;
        top: calc(100% + 30px);
        left: 50%;
        width: 200px;
        transform: translateX(-50%);
        background: rgba($black, .85);
        padding: 0;
        margin: 0;
        list-style: none;
        box-shadow: 0 0 15px 5px rgba($black, .1);
        border-radius: 5px;
        @include transition();
        z-index: 1;
        opacity: 0;
        visibility: hidden;

        &:before {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $black transparent;
            @include transition();
            z-index: -1;
            opacity: 0;
            visibility: hidden;
        }

        &.active {
            top: calc(100% + 10px);
            opacity: 1;
            visibility: visible;

            &:before {
                top: -10px;
                opacity: 1;
                visibility: visible;
            }
        }

        a {
            display: block;
            color: $white;
            padding: .5rem 1rem;
            border-bottom: 1px solid rgba($white, .2);
            font-size: 0.75rem;
            letter-spacing: 1px;

            &:hover {
                color: $white;
                background: rgba($white, .2);
            }
        }

        li {
            &:last-of-type {
                a {
                    border: 0;
                }
            }
        }
    }
}

.searchForm {
    position: relative;
    z-index: 1;

    .form {
        &-group {
            margin: 0;
        }

        &-control {
            background: $gray-800;
            color: $gray-500;
            padding-right: 1.5625rem;
            width: 500px;
            margin: 0;
        }

        &-btn {
            position: absolute;
            top: 54%;
            right: 14px;
            transform: translateY(-50%);
            z-index: 3;

            button {
                border: 0;
                padding: 0;
                margin: 0;
                outline: none;
                border: 0;
                background: transparent;
                color: rgba($white, .5);
                font-size: .9rem;
            }
        }
    }
}


.darkMode {
    .site-header {

        .site-branding {

            [class^="icon"] {
                color: $white;
            }
        }
    }

    .user {

        &__name {
            color: $white;
        }

        &__btn {
            &:before {
                color: $gray-500;
            }
        }
    }
}